<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{OB_LAUNCHD_PREFIX}}.openbrain-viewer</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/{{OB_PYTHON_VERSION}}/bin/python3</string>
        <string>server.py</string>
        <string>--logs-dir</string>
        <string>{{OB_LOG_DIR}}</string>
        <string>--port</string>
        <string>8765</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{OB_DIR}}/viewer</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/{{OB_USERNAME}}</string>
        <key>OB_LOG_DIR</key>
        <string>{{OB_LOG_DIR}}</string>
    </dict>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{OB_LOG_DIR}}/openbrain-viewer.log</string>

    <key>StandardErrorPath</key>
    <string>{{OB_LOG_DIR}}/openbrain-viewer-error.log</string>
</dict>
</plist>
